.mobileNav {
  text-decoration: none;
  color: #4a4a4a;
  display: flex;
  align-items: center;
  gap: 5px;
}
.screenNav {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}
